# ====================== AIRFLOW CORE ======================
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__DAGS_ARE_PARSED_AS_ZIPFILES=False
AIRFLOW__CORE__DEFAULT_TIMEZONE=Asia/Kolkata

# ====================== DATABASE ======================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# ====================== WEBSERVER ======================
AIRFLOW__WEBSERVER__BASE_URL=http://localhost:8080
AIRFLOW__WEBSERVER__SECRET_KEY={{SECRET_KEY}}
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True

# ====================== SCHEDULER ======================
AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL=30

# ====================== LOGGING ======================
AIRFLOW__LOGGING__LOGGING_LEVEL=INFO

# ====================== SPARK ======================
# AIRFLOW__SPARK__SPARK_HOME=/opt/spark
AIRFLOW__SPARK__SPARK_BINARY=spark-submit

# ====================== PYTHON / PYSPARK ======================
PYTHONPATH=/opt/spark/python:/opt/spark/python/lib/py4j-0.10.9.7-src.zip
PYSPARK_PYTHON=python3
PYSPARK_DRIVER_PYTHON=python3